@import '../../global.scss';
.cards {
    margin: 50px 0;
    margin-bottom: -1px;
    @include mobile{
        margin-bottom: 10px;
        
    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        @include mobile{
            display: flex;
            flex-direction: column;
            
        }

        .card1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 170px;
            padding: 20px;
            margin-right: 50px;
            border-radius: 10px;
            background-color: #E1E8ED;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            @include mobile{
                scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

                width: 300px;
                height: 60px;
                margin: 10px;
                justify-content: space-around;
                display: flex;
                flex-direction: row;
            }

            .inside{
                display: flex;
                flex-direction: column;
            }

            h1 {
                margin-bottom: 10px;
                color: rgba(0, 0, 255, 0.5);
                align-self: center;
                @include mobile{
                    font-size: 20px;
                    margin-bottom: 0;
 
                 }

            }

            .number {
                font-size: 25px;
                margin-bottom: 10px;
                align-self: center;


            }

            span {
                margin-bottom: 10px;
                font-weight: 600;
                text-align: center;

            }
            .desc{
                @include mobile{
                    display: none;
 
                 }
            }

        }

        .card2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 170px;
            padding: 20px;
            margin-right: 50px;
            border-radius: 10px;
            background-color: #E1E8ED;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @include mobile{
                scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

                width: 300px;
                height: 60px;
                margin: 10px;
                justify-content: space-around;
                display: flex;
                flex-direction: row;
            }

            .inside{
                display: flex;
                flex-direction: column;
            }

            h1 {
                margin-bottom: 10px;
                color: rgba(3, 59, 3, 0.712);
                align-self: center;
                @include mobile{
                    font-size: 20px;
                    margin-bottom: 0;
 
                 }

            }

            .number {
                font-size: 25px;
                margin-bottom: 10px;
                align-self: center;


            }

            span {
                margin-bottom: 10px;
                font-weight: 600;
                text-align: center;

            }
            .desc{
                @include mobile{
                    display: none;
 
                 }
            }

        }

        .card3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 170px;
            padding: 20px;
            margin-right: 50px;
            border-radius: 10px;
            background-color: #E1E8ED;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @include mobile{
                scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

                width: 300px;
                height: 60px;
                margin: 10px; 
                margin-bottom: 0;
                justify-content: space-around;
                display: flex;
                flex-direction: row;
            }

            .inside{
                display: flex;
                flex-direction: column;
            }

            h1 {
                margin-bottom: 10px;
                color: rgba(255, 0, 0, 0.5);
                align-self: center;
                @include mobile{
                    font-size: 20px;
                    margin-bottom: 0;
 
                 }

            }

            .number {
                font-size: 25px;
                margin-bottom: 10px;
                align-self: center;


            }

            span {
                margin-bottom: 10px;
                font-weight: 600;
                text-align: center;

            }
            .desc{
                @include mobile{
                    display: none;
 
                 }
            }

        }
    }
}